<% include partials/header %>

<header class="v-header v-container">

    <div class="fullscreen-video-wrap">
        <link rel="stylesheet" href="css/landing.css">
        <video src="video/indexPageBackground.mov" autoplay loop playsinline muted>
        </video>
    </div>

    <div class="header-overlay"></div>
    <div class="header-content">
        <h1>Book Review RFT</h1>
        <p class="animated fadeIn ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at cumque eaque explicabo facere fugit illum molestias mollitia natus, vel!</p>
        <div class="animated zoomIn">
            <a  href="" class="button">Read More</a>
        </div>
    </div>
</header>

<section  class="section section-a">
    <div class="v-container">
    <h1>Our Services</h1>
    </div>
</section>




<section class="section">
<a href="/books">Show all books</a>

</section>






<% include partials/foter %>