<% include partials/header %>

<header class="v-header v-container">

    <div class="fullscreen-video-wrap">
        <link rel="stylesheet" href="css/landing.css">
        <video src="video/indexPageBackground.mov" autoplay loop playsinline muted>
        </video>
    </div>

    <div class="header-overlay"></div>
    <div class="header-content">
        <h1>Book Review RFT</h1>
        <p class="animated fadeIn ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at cumque eaque explicabo facere fugit illum molestias mollitia natus, vel!</p>
        <div class="animated zoomIn">
            <a  href="" class="btn">Read More</a>
        </div>
    </div>
</header>

<section  class="section section-a">
    <div class="v-container">
    <h1>Section A</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci amet animi beatae commodi culpa delectus dolor dolore doloribus enim, esse, eveniet harum illo in itaque magni mollitia natus nihil nisi, non officiis pariatur porro quod reprehenderit temporibus vel voluptate. Cumque dolore molestias natus nobis nostrum omnis, porro possimus sint.</p>
    </div>
</section>


<section  class="section section-b">
    <div class="v-container">
        <h1>Section B</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci amet animi beatae commodi culpa delectus dolor dolore doloribus enim, esse, eveniet harum illo in itaque magni mollitia natus nihil nisi, non officiis pariatur porro quod reprehenderit temporibus vel voluptate. Cumque dolore molestias natus nobis nostrum omnis, porro possimus sint.</p>
    </div>
</section>

<section class="section">
<a href="/books">Show all books</a>

</section>






<% include partials/foter %>