.navbar {
    z-index: 2;
    font-size: 2rem;
    font-family: 'Cairo', sans-serif;
    border: none;
    width: 80vw;
    margin: 10px auto 0;
}

form input[type="text"] {
    width: 390px !important;
}
